{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list admin_urls %}
{% load calendar_month %}
{% block content_title %}
{% endblock %}

{% block object-tools %}
    {{ block.super }}
    <div id="changelist">
    <form action="{{ changelist_url }}" method="POST">{% csrf_token %}
        {% admin_actions %}
        <input type="hidden" name="_selected_action" value="0">
    </form>
    </div>
{% endblock %}

{% block result_list %}
{% calendar_month %}
{% endblock %}

{% block pagination %} {% endblock %}